<script setup lang="ts">
import { ref } from "vue"
const show = ref(true)
const list = ref([1 ,2 ,3])

</script>

<template>
    <button @click="show = !show">Toggle List</button>
    <button @click="list.push(list.length)">Push Number</button>
    <button @click="list.pop()">Pop Number</button>
    <button @click="list = list.reverse()">Reverse List</button>

    <ul v-if="show && list.length">
        <li v-for="(item, index) of list" :key="index">{{ item }}</li>
    </ul>
    <p v-else-if="list.length">Lisy is not empty, but hidden.</p>
    <p v-else>List is empty.</p>
</template>

<style scoped>
</style>