<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import CalComponent from './components/CalComponent.vue';
import HelloWorldExample from './components/HelloWorldExample.vue';
import HandlingUserInput from './components/HandlingUserInput.vue';
import AttributeBindings from './components/AttributeBindings.vue';
import FormBindings from './components/FormBindings.vue';
import SimpleComponent from './components/SimpleComponent.vue';
import ConditionsAndLoops from './components/ConditionsAndLoops.vue';
</script>

<template>
<div>
    <SimpleComponent/><br/>
    <FormBindings/><br>
    <ConditionsAndLoops/>
    <AttributeBindings/>
    <HandlingUserInput/>
    <CalComponent/>
    <HelloWorldExample/>
  
</div>
</template>

<style scoped>
  .center_text{
            text-align: center;
            font-size: 16pt;
            margin: 5px;
        }
        .bold_text{
            font-weight: bold;
        }
        .card {
            padding: 10px;
            border-style: solid;
            width: 400px;
            text-align: center;
        }
        .w100px {
            width: 100px;
        }
</style>
